@tailwind base;
@tailwind components;
@tailwind utilities;



.header{
    display: flex;
    border: 1px solid ;
    border-color:#308898c4 ;
    border-radius: 2px;
    background-color: #c1d7dcc4;
    justify-content: space-between;
    height: 80px;
}

.logo{
    /* border: 1px solid; */
    border-radius: 2px;
    background-color: #308898c4;
    width: 80px;
}

.nav-items{
    display: flex;

}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    cursor: pointer;
    font-size: 14px;
}

.nav-items > ul > li {
    margin: 20px;
}

.res-cart{
    display: flex;
    flex-wrap: wrap;
}

.res-container{
    display: flex;
    margin: 12px;
}

.cart{
    display: flex;
    flex-direction: column;
    flex: wrap;
    margin: 6px;
    cursor: pointer;
    background-color: #9cc8d0c4;
    border-radius: 5px;
    height: 300px;
    width: 205px;
    padding: 3px;
}

.cart :hover
{
    border: 1px solid;
    border-color: aquamarine;
}

.food-image{
    width: 200px;
    height: 200px;
    margin: 2px;
}

.name{
    font-size: 12px;
    text-align: center;
    margin: 2px;
    
}

.name1{
    font-display: flex;
    flex: wrap;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    margin: 5px;
    
}

.footer{
    border: 1px solid;
}

.filter{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    background-color: #9cc8d0c4;
    justify-content: space-between;
    border: 1px ;
    padding: 10px;
}

.strips{
    display: flex;
    flex-direction: column;
    
}

.strips1{
    border: 1px solid;
    border-color: azure;
}

.login{
    margin-top: 25px;
    margin-right: 5px;
    border: 1px;
    border-radius: 2px;
    background-color: #3088987d;
    font-family: 'Times New Roman', Times, serif;
    width: 50px;
    height: 30px;
}

.button-search{
    width: 50px;
    height: 22px;
    border: 1px;
    border-radius: 2px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #3088987d;
}

.filter-search{
    width: 190px;
    height: 24px;
    border: 1px;
    border-radius: 2px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #3088987d;
}