.header{
    display: flex;
    border: 1px solid;
    justify-content: space-between;
}

.logo{
    width: 100px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    cursor: pointer;
    font-size: 14px;
}

.nav-items > ul > li {
    margin: 20px;
}

.res-cart{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
}

.res-container{
    display: flex;
    margin: 10px;
    /* border: 1px solid; */
}

.cart{
    margin: 10px;
   cursor: pointer;
   background-color:gainsboro;
    height: 300px;
}

.cart :hover
{
    border: 1px solid;
}

.food-image{
    width: 200px;
    height: 200px;
    margin: 2px;
}

.name{
    font-size: 12px;
    text-align: center;
    text-overflow: hidden;
    margin: 5px;
    flex-wrap: wrap;
    
}

.footer{
    border: 1px solid;
}